@using System.Security.Claims
@model UserModel

@{
    Layout = "_Layout";
}

@* bet 
 generate 4 cards
 2 buttons: hit and stand
 hit: add 1 more card to player
 stand: open player and computer cards and compute result

*@

<h2 class="text-center">@ViewData["Title"]</h2>
<div class="user-info">
    <p>Login: @User.Identity.Name</p>
    Your chips: <p id="user-chips">@Model.Money.Chips</p>

</div>

<div class="game-interface">

    <p>Dealer cards</p>
    <p> <div class="computer-cards">    </div>
        
    <br><br> <!-- 
    TODO сверстать нормально
    !-->
    <br><br>


    <p>Your score</p>
    <p><div class="user-score"></div>
    <p>Your cards</p>
    <p><div class="user-cards"></div>

    <button>Hit</button>
    <button>Stand</button>
</div>

<div class="bet-interface">
    <p><input type="number" id="betCount"></p>
    <p>Bet value </p> 
    <p><button id="sendButton" onclick="bet()">Bet</button></p>
</div>
