@page
@model DBKP.Models.UserModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login in</title>
</head>
<body>
<h1> Login in</h1>
<div>
    @Html.ValidationMessageFor(m => m.Login)
    <form asp-action="Loginin">
        <p>Login</p>
        <p>
            <input name="Login">
        </p>
        <p>Password</p>
        <p>
            <input type="password" name="Password">
        </p>
        <p>
            <input type="submit" value="Submit" class="btn btn-primary">
        </p>

    </form>
</div>
</body>
</html>