@page
@model DBKP.Models.UserModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<div>
    @Html.ValidationMessageFor(m => m.Login)
    <form method="post" action="/Authentication/Register">
        <p>Login</p>
        <p>
            <input name="Login" type="text">
        </p>
        <p>Password</p>
        <p>
            <input name="Password" type="password">
        </p>
        <p>
            <input type="submit" value="Submit" class="btn btn-primary">
        </p>
    </form>
</div>
</body>
</html>