@page
@* @model DB_KP.Views.Authentication.Login *@

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form asp-action="Loginin">
        <input name="Login">
    </form>
</div>
</body>
</html>