@page
@model DB_KP.Views.Authentication.SuccessRegister

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="row">
    <div class="register-success">
        <h1 class="h1">Registration successful</h1>
        <h3 class="h3">Welcome, @TempData["Login"]</h3>
    </div>
</div>
</body>
</html>